**/__pycache__/
.env
.idea
.vscode
*.swp
*.swo
.venv
.DS_STORE
*.iml
.pytest_cache/
/database-data/
/redis-data/
classroom_database.db
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
**classroom_database*